<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Test App</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="script.js"></script>
    <script type="text/javascript" src="/eel.js"></script>
  </head>
  <body>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <div class="main">
      <h3>Schedule Generator</h3>
      <label for="input_file">Input File (.csv)</label>
      <input
        aria-describedby="inputGroup-sizing-default"
        aria-label="Default"
        name="input_file"
        id="input_file"
        type="file"
      >

      <label for="classrooms">Number of classrooms (20-100)</label>
      <input
        aria-describedby="inputGroup-sizing-default"
        class="form-control"
        aria-label="Default"
        name="classrooms"
        id="classrooms"
        type="number"
        value="40"
        max="100"
        min="10"
      >

      <label for="min_req">Minimum students per class</label>
      <input
        aria-describedby="inputGroup-sizing-default"
        class="form-control"
        aria-label="Default"
        name="min_req"
        id="min_req"
        type="number"
        value="18"
        max="50"
        min="10"
      >

      <label for="class_cap">Maximum students per class</label>
      <input
        aria-describedby="inputGroup-sizing-default"
        class="form-control"
        aria-label="Default"
        name="class_cap"
        id="class_cap"
        type="number"
        value="30"
        max="100"
        min="30"
      >

      <label for="total_blocks">Total blocks (10 or 8)</label>
      <input
        aria-describedby="inputGroup-sizing-default"
        class="form-control"
        aria-label="Default"
        name="total_blocks"
        id="total_blocks"
        type="number"
        value="10"
        step="2"
        max="10"
        min="8"
      >
      <!-- step="2" prevents a number like 9 -->

      <button id="startBtn" onclick="start()">Generate</button>
    </div>

    <div class="processing">
      <div id="myProgress">
        <div id="myBar"></div>
      </div>
    </div>
  </body>
</html>